@body-bg-color: #f7f7f7;

@nav-bg-color: #3A71D0;

@nav-active-color: #ffd04b;

@config-online-color: #67C23A;

@config-offline-color: #A4A9B0;

.config-online {
  color: @config-online-color;
}
.config-offline {
  color: @config-offline-color;
}

.clear-float {
  overflow: hidden;
  zoom: 1;
}
